body {
  text-align: center;
  background-image: linear-gradient(to bottom right, #616063, #c08267, #a0583c);
  background-attachment: fixed;
}

h1 {
  margin-top: 40px;
}

h2 {
  font-size: 24px;
}

a {
  font-size: 16px;
  color: plum;
}
